.details {
    width: 100%;
    height: 120%;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-details {
    width: 90%;
    margin-top: 40px;
    display: flex;
}

.body-details-left {
    width: 55%;
}

.body-details-left img {
    width: 90%;
}

.body-details-right {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.body-details-right button {
    width: 180px;
    height: 48px;
    border-radius: 10px;
    border: none;
    background-color: #1243F0;
    color: #fff;
    margin-top: 20px;
    font: 700 1rem Roboto;
    cursor: pointer;
    margin-left: 67%;
}

.body-details-right h1 {
    color: #fff;
    font: 700 2rem Raleway;
}

.body-details-right h2 {
    color: #fff;
    font: 400 1rem Roboto;
    margin-bottom: 6px;
}

.span-tools {
    margin: 15px 0px 15px 0px;
    display: flex;
    align-items: center;
}

.span-tools .tools {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.span-tools .tools span {
    margin-right: 4px;
}

.detail-descrition {
    color: #fff;
    font: 700 0.8rem Roboto;
    margin-bottom: 15px;
}

.colors {
    display: flex;
    margin: 10px 0px;
}

.colors .color{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.colors .color:hover img {
    display: block;
}

.colors .color img {
    display: none;
}

.fonts {
    width: 100%;
    margin: 15px 0px;
    display: flex;
}

.fonts .font p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fonts .font {
    display: flex;
    justify-content: space-around;
    width: 24%;
    background-color: #262626;
    padding: 8px 12px;
    border-radius: 8px;
    color: #fff;
    font: 400 1rem Roboto;
    margin-right: 4px;
    cursor: pointer;
}

.assets {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
    background-color: #262626;
    padding: 8px 12px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font: 400 1rem Roboto;
}
.assets a {
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}