.input-tools {
    display: flex;
    margin-top: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.selected-tools {
    display: flex;
    flex-wrap: wrap;
}

.selected-tool {
    margin-right: 8px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    padding: 0px 8px 0px 8px;
    background-color: #262626;
    align-items: center;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    color: #fff;
}

.selected-tool p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 4px;
    font: 400 0.8rem Roboto;
}

.selected-tool img {
    cursor: pointer;
}

.btn-tools button {
    width: 40px;
    height: 40px;
    margin-top: 8px;
    border-radius: 20px;
    background-color: #262626;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s;
}

.btn-tools button:hover {
    background-color: #474747;
}

.dropmenu-tools {
    position: absolute;
    background-color: #262626;
    border-radius: 10px;
}

.dropmenu-tools input {
    margin: 4px 2px 4px 2px;
    width: 98%;
    font-size: 0.8rem;
    color: #fff !important;
    padding: 1rem;
    background: #191919;
    border: 1px solid #fff;
    border-radius: 0.4rem;
    margin-top: 10px;
}

.dropmenu-tools p:hover {
    background-color: #525252;
}

.dropmenu-tools scroll-container {
    display: block;
    width: 300px;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin-left: 4px;
}

scroll-container p {
    padding: 4px 0 4px 4px;
    color: #fff;
    cursor: pointer;
}