.input-colors {
    display: flex;
    margin-top: 10px;
}

.colors-select {
    display: flex;
}

.color-select {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 4px;
}

.color-select img {
    background-color: #262626;
    border-radius: 50%;
    cursor: pointer;
}

.pickle-color {
    position: absolute;
    margin-top: 60px;
    margin-left: -60px;
    z-index: 9999;
}

.btn-color {
    width: 170px;
    display: flex;
}

.btn-color button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #262626;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s;
}

.btn-color button:hover {
    background-color: #474747;
}

.btn-color img {
    width: 34px;
    height: 34px;
}