.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    animation: slideNavY 1s;
}

@keyframes slideNavY {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(0px);
    }
}

.nav-left img{
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-right .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#name-user a{
    margin-right: 10px;
    display: flex;
    align-items: center;
}


.nav-right .nav-menu .nav-item {
    list-style-type: none;
    font: 700 1.2rem Raleway;
    text-decoration: none;
    margin-right: 30px;
}

.nav-right .nav-menu .nav-item:last-child{
    margin-right: 0px;
}

.nav-item a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.nav-right .nav-menu .nav-item a:hover{
    color: rgb(192, 192, 192);
}

.icon-user {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    color: #000;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-left: 10px;
}

.icon-user p {
    font: 700 1.2rem Roboto;
}

.dropup-content {
    position: absolute;
    width: 90px;
    height: 70px;
    background-color: #3F3D56;
    padding: 4px;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 2px;
    display: flex;
    z-index: -1;

    transform: translateY(-10px);
    opacity: 0;
    transition: all 0.2s;
}

.btn-user:hover .dropup-content{
    opacity: 1;
    z-index: 1;
    transform: translateY(0px);
}

.btn-login {
    background-color: #3F3D56;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px !important;
    font-size: 1rem;
}

.btn-login:hover {
    background-color: #52506b;
    color: #fff !important;
}