.card {
    width: 334px;
    height: 534px;
    background: #2C2C2C;
    border-radius: 10px;
    box-shadow:  5px 5px 7px #151515,
             -5px -5px 7px #1d1d1d;
    cursor: pointer;
    transition: background-color 0.1s;
    position: relative;
}

.card:hover {
    background-color: #464646;
}

.card-body {
    margin: 20px 10px 10px 10px; 
}

.card img {
    border-radius: 10px 10px 0 0px;
    z-index: -999;
}

.title {
    color: #fff;
    font: 700 1.3rem Raleway;
    margin: 14px 0 10px 0;
}

.span-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-bottom: 10px;
}

.tools {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.span-tools .level {
    display: flex;
    padding: 2px;
    border-radius: 4px;
    font: 700 0.8rem Roboto;
    margin-right: 8px;
}

.level span {
    padding: 2px 6px 2px 6px;
}

.level p{
    background-color: #2C2C2C;
    padding: 1px 6px 1px 6px;
    border-radius: 0px 4px 4px 0px;
}

.span-tools .html {
    color: #6ABFDB;
    font: 700 1rem Roboto;
    
}

.span-tools .css {
    color: #3E54A3;
    font: 700 1rem Roboto;
}

.describe {
    color: #fff;
    font: 400 1rem Roboto;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5 !important;
    -webkit-box-orient: vertical;
}

.card-points {
    background-color: #2c2c2c75;
    width: 20px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 10px 0px 0px;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    cursor: pointer;
}

.card-points div{
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
}

.teste:hover .card-points {
    display: flex;
}

.menu-option {
    position: absolute;
    z-index: 999;
    right: 0;
    top: 30px;
    flex-direction: column;
    background-color: #2c2c2ce0;
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: space-around;
}

.menu-option button {
    border: none;
    background-color: #2c2c2ce0;
    color: #fff;
    padding: 6px 10px 6px 10px;
    cursor: pointer;
    font: 400 1rem Roboto;
}

.menu-option button:hover {
    background-color: #3d3d3de0;
}