.card {
    width: 334px;
    height: 534px;
    background: #2C2C2C;
    border-radius: 20px;
    box-shadow:  5px 5px 7px #151515,
             -5px -5px 7px #1d1d1d;
    cursor: pointer;
}

.card-body {
    margin: 20px 10px 10px 10px; 
}

.card img {
    border-radius: 20px 20px 0 0px;
}

.title {
    color: #fff;
    font: 700 1.3rem Raleway;
    margin: 14px 0 10px 0;
}

.span-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-bottom: 10px;
}

.tools {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.span-tools .level {
    display: flex;
    padding: 2px;
    border-radius: 4px;
    font: 700 0.8rem Roboto;
    margin-right: 8px;
}

.level span {
    padding: 2px 6px 2px 6px;
}

.level p{
    background-color: #2C2C2C;
    padding: 1px 6px 1px 6px;
    border-radius: 0px 4px 4px 0px;
}

.span-tools .html {
    color: #6ABFDB;
    font: 700 1rem Roboto;
    
}

.span-tools .css {
    color: #3E54A3;
    font: 700 1rem Roboto;
}

.describe {
    color: #fff;
    font: 400 1rem Roboto;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}