.create-challenge {
    width: 100%;
    height: 120%;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-challenge form {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-top: 50px;
}

.color-level {
    display: flex;
    margin-bottom: 10px;
}

.color-level .color-div {
    width: 50%;
}

.color-level .level-div {
    display: flex;
    flex-direction: column;
}

.color-level .level-div select{
    margin-top: 10px;
    padding: 6px;
    border-radius: 10px;
    background-color: #262626;
    color: #fff;
    border: none;
}

#title {
    margin-bottom: 10px;
}

.fonts-tools {
    display: flex;
    margin-bottom: 10px;
}

.form-left {
    width: 50%;
}

.fonts-tools .font-div {
    width: 50% !important;
}

.form-left label {
    color: #fff;
}

.form-right .input-normal{
    width: 100%;
    font-size: 1rem;
    color: #fff;
    padding: 1rem;
    background: #262626;
    border: 1px solid var(--color-line-in-white);
    border-radius: 0.4rem;
    margin-top: 10px;
}

.form-right label {
    color: #fff;
    font: 400 1rem Roboto;
}


.form-right textarea {
    width: 100%;
    font-size: 1rem;
    color: #fff;
    padding: 1rem;
    background: #262626;
    border: 1px solid var(--color-line-in-white);
    border-radius: 0.4rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-right .btn-submit {
    width: 30%;
    height: 54px;
    border-radius: 10px;
    border: none;
    background: #1243F0;
    color: #fff;
    font: 400 1rem Roboto;
    margin-top: 30px;
    margin-left: 70%;
} 